form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 25px 10px 0 10px;
  span {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }
}
